{{>menuLoggedUser}}
<div class="mainContainer">
    <h1>Administración de Usuarios</h1>
    <hr>
    <form id="getUser">
        <label for="userId">Id del Usuario:</label>
        <input type="text" id="userId" name="userId" required>
        <button type="submit">Ver Usuario</button>
    </form>
    <div id="userContainer">
        <div><p>Por el momento no hay Usuarios solicitados. </p></div>

    </div>
</div>

<script src="/js/admin.js"></script>
