{{>menuLoggedUser}}
<div class="mainContainer">
    <h1>Administración de Usuarios</h1>
    <hr>
    <form id="getUser" class="formLogin">
        <h3><label for="userId">Id del Usuario:</label></h3>
        <input type="text" id="userId" name="userId" placeholder="Ingresa Id# del Usuario" required>
        <button type="submit">Elegir Usuario</button>
    </form>
    <div id="userContainer" class="formLogin">
        <div><p>Aún no ha elegido ningún usuario. </p></div>
    </div>
    <div class="formLogin">
        <button class="smallButton" id="changeUserRol">Cambiar rol del usuario</button>
        <button class="smallButton" id="deleteUser">Borrar usuario</button>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/admin.js"></script>
