{{>menuLoggedUser}}
<div class="mainContainer">
    <h1>¡Gracias!</h1>
    <h2>Tu Documento Fué Cargado con Éxito</h2>
    <hr>
   
    <h3>¡Continúa cargando documentos!</h3>
    <a href="/perfilUploads" class="userCarts">Seguir Cargando Documentos</a>
    <br><br>
    <p>O si lo prefieres sigue navegando en el sitio con ayuda del menú principal de navegación</p>
  
</div>
